@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500);




div.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-height: 100%;
    
    
}




div.item {
  display: flex;
  flex: auto;
  padding: 0rem 1rem 0rem 1rem;
    margin-right: auto;
    padding-top: 1.5rem
}

#timeline {
  position: relative;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  
}
#timeline div:after {
  content: "";
  width: 2px;
  position: absolute;
  top: 0.5rem;
  bottom: 0rem;
  left: 60px;
  z-index: 1;
  background: #C5C5C5;
}
#timeline h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  color: #888;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}
@media (min-width: 62em) {
  #timeline h3 {
    font-size: 1.1em;
  }
}
#timeline section.year {
  position: relative;
}
#timeline section.year:first-child section {
  margin-top: -1.3em;
  padding-bottom: 0px;
}
#timeline section.year section {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em;
}
#timeline section.year section h4 {
  /*position: absolute;*/
  bottom: 0;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 0 80px;
  color: #C5C5C5;
        margin-top: -1.5rem;
}
@media (min-width: 62em) {
  #timeline section.year section h4 {
    font-size: 1em;
  }
}
#timeline section.year section ul {
  list-style-type: none;
  padding: 0 0 0 75px;
  
        margin: 1.65rem 0 1em;
  /*max-width: 32rem;*/
  font-size: 1em;
}
@media (min-width: 62em) {
  #timeline section.year section ul {
    font-size: 1.1em;
    padding: 0 0 0 81px;
  }
}
#timeline section.year section ul:last-child {
  margin-bottom: 0;
}
#timeline section.year section ul:first-of-type:after {
  
    content: "";
    width: 12px;
    height: 12px;
    background: #a6a6a6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 55px;
    top: 2px;
    z-index: 2;
}
#timeline section.year section ul li {
  margin-left: 0.5rem;
}
#timeline section.year section ul li:before {
  content: "·";
  margin-left: -0.5rem;
  padding-right: 0.3rem;
}
#timeline section.year section ul li:not(:first-child) {
  margin-top: 0.5rem;
}





.record-lab-logo {
  list-style-type: none;
  padding: 0 0 0 75px;
  margin: -1.35rem 0 1em;
  /*max-width: 32rem;*/
  font-size: 1em;
    display: flex;
}

.record-lab-logo img {
  padding-right: 0.5rem;
  margin-top: -15px;
  width: 21%;
}

.record-lab-logo h3 {
    margin-top: -15px;
}


@media (min-width: 62em) {
  .record-lab-logo {
    font-size: 1.1em;
    padding: 0 0 0 81px;
  }
}
.record-lab-logo:last-child {
  margin-bottom: 0;
}
.record-lab-logo:first-of-type:after {
  
    content: "";
    width: 12px;
    height: 12px;
    background: #a6a6a6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 55px;
    top: 5px;
    z-index: 2;
}



























.wizard-content-left {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url("https://i.ibb.co/X292hJF/form-wizard-bg-2.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 30px;
}
.wizard-content-left h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
}

.form-wizard {
  color: #888888;
  padding: 30px;
}
.form-wizard .wizard-form-radio {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.form-wizard .wizard-form-radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.form-wizard .wizard-form-radio input[type="radio"]:focus {
  outline: 0;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked {
  background-color: #5699e8;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  right: 0;
  margin: 0 auto;
  top: 8px;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::after {
  content: "";
  display: inline-block;
  webkit-animation: click-radio-wave 0.65s;
  -moz-animation: click-radio-wave 0.65s;
  animation: click-radio-wave 0.65s;
  background: #000000;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}
.form-wizard .wizard-form-radio input[type="radio"] ~ label {
  padding-left: 10px;
  cursor: pointer;
}
.form-wizard .form-wizard-header {
  text-align: center;
}
.form-wizard .form-wizard-next-btn, .form-wizard .form-wizard-previous-btn, .form-wizard .form-wizard-submit {
  background-color: #206bc4;
  color: #ffffff;
  display: inline-block;
  min-width: 100px;
  min-width: 120px;
  padding: 10px;
  text-align: center;
}
.form-wizard .form-wizard-next-btn:hover, .form-wizard .form-wizard-next-btn:focus, .form-wizard .form-wizard-previous-btn:hover, .form-wizard .form-wizard-previous-btn:focus, .form-wizard .form-wizard-submit:hover, .form-wizard .form-wizard-submit:focus {
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
}
.form-wizard .wizard-fieldset {
  display: none;
}
.form-wizard .wizard-fieldset.show {
  display: block;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: #d70b0b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.form-wizard .form-wizard-previous-btn {
  background-color: #7fb5f3;
}
.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  padding: 15px;
  color: #888888;
  background-color: #f1f1f1;
  border: none;
}




.form-wizard .float-right {
  float:right;
}















.form-wizard .form-control:focus {
  box-shadow: none;
}
.form-wizard .form-group {
  position: relative;
  margin: 25px 0;
}
.form-wizard .wizard-form-text-label {
  position: absolute;
  left: 10px;
  top: 16px;
  transition: 0.2s linear all;
}
.form-wizard .focus-input .wizard-form-text-label {
  color: #206bc4;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard .form-wizard-steps {
  margin: 0 -85px 30px  25px;
}
.form-wizard .form-wizard-steps li {
  width: 25%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
  background-color: #206bc4;
  color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
  background-color: #206bc4;
  left: 50%;
  width: 50%;
  border-color: #206bc4;
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #206bc4;
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0.0;
  }
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
    height: auto;
  }
}








/*



.input-file-container {
  position: relative;
  width: 225px;
  
}

.js .input-file-trigger {
  display: block;
  color: rgb(10, 10, 10);
  font-size: 1em;

  cursor: pointer;
  padding: 100%;
  border: dashed 2px #ccc;
  border-radius: 5px;
  transition: all .4s;
}

.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
  
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #fff;
  color: #363636;
  border: dashed 2px #ccc;
  transition: all .4s;
}

.file-return {
  margin: 0;
  
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Archivo Seleccionado: ";
  font-style: normal;
  font-weight: normal;
  
}


/* Useless styles, just for demo styles */


.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
.copy {
  margin-top: 2em;
}
.copy a {
  text-decoration: none;
  color: #1ABC9C;
}





.cloud-container {
  position: relative;
  width: 161px;
  margin: 0 auto 20px;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.32, 1.695, 0.355, 1.135);
  transition: -webkit-transform 0.4s cubic-bezier(0.32, 1.695, 0.355, 1.135);
  transition: transform 0.4s cubic-bezier(0.32, 1.695, 0.355, 1.135);
  transition: transform 0.4s cubic-bezier(0.32, 1.695, 0.355, 1.135),-webkit-transform 0.4s cubic-bezier(0.32, 1.695, 0.355, 1.135);
  
}



.cloud-container .cloud-arrow-container {
  position: absolute;
  left: 50%;
  bottom: 27px;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: -webkit-transform 0.07s ease-in;
  -webkit-transition: -webkit-transform 0.07s ease-in;
  transition: transform 0.07s ease-in;
  transition: transform 0.07s ease-in, -webkit-transform 0.07s ease-in;
  color: #fff;
}


.cloud-container .upload-shot-cloud {
  color: #dbdbde;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.cloud-container .cloud-arrow-container:after {
  content: '';
  position: absolute;
  top: 46px;
  left: 24px;
  width: 27px;
  height: 31px;
  background: #fff;
  transition: -webkit-transform 0.07s ease-in;
  -webkit-transition: -webkit-transform 0.07s ease-in;
  transition: transform 0.07s ease-in;
  transition: transform 0.07s ease-in, -webkit-transform 0.07s ease-in;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}




*/




.input-file-container {
  position: relative;
  width: 225px;
  border: dashed 2px #ccc;
} 
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #fff;
  /*color: #fff;*/
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  border: dashed 2px #ccc;
  border-radius: 5px;
  text-align: center;





}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
  border: dashed 2px #ccc;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #fff;
  color: #2064b6;
  border: dashed 2px #2064b6;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: 1.9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Documento: ";
  font-style: normal;
  font-weight: normal;
}


h2 + P {
  text-align: center;
}
.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
.copy {
  margin-top: 2em;
}
.copy a {
  text-decoration: none;
  color: #1ABC9C;
}

