@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500);




div.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-height: 100%;
    
    
}




div.item {
  display: flex;
  flex: auto;
  padding: 0rem 1rem 0rem 1rem;
    margin-right: auto;
    padding-top: 1.5rem
}

#timeline {
  position: relative;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  
}
#timeline div:after {
  content: "";
  width: 2px;
  position: absolute;
  top: 0.5rem;
  bottom: 0rem;
  left: 60px;
  z-index: 1;
  background: #C5C5C5;
}
#timeline h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  color: #888;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}
@media (min-width: 62em) {
  #timeline h3 {
    font-size: 1.1em;
  }
}
#timeline section.year {
  position: relative;
}
#timeline section.year:first-child section {
  margin-top: -1.3em;
  padding-bottom: 0px;
}
#timeline section.year section {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em;
}
#timeline section.year section h4 {
  /*position: absolute;*/
  bottom: 0;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 0 80px;
  color: #C5C5C5;
        margin-top: -1.5rem;
}
@media (min-width: 62em) {
  #timeline section.year section h4 {
    font-size: 1em;
  }
}
#timeline section.year section ul {
  list-style-type: none;
  padding: 0 0 0 75px;
  
        margin: 1.65rem 0 1em;
  /*max-width: 32rem;*/
  font-size: 1em;
}
@media (min-width: 62em) {
  #timeline section.year section ul {
    font-size: 1.1em;
    padding: 0 0 0 81px;
  }
}
#timeline section.year section ul:last-child {
  margin-bottom: 0;
}
#timeline section.year section ul:first-of-type:after {
  
    content: "";
    width: 12px;
    height: 12px;
    background: #a6a6a6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 55px;
    top: 2px;
    z-index: 2;
}
#timeline section.year section ul li {
  margin-left: 0.5rem;
}
#timeline section.year section ul li:before {
  content: "·";
  margin-left: -0.5rem;
  padding-right: 0.3rem;
}
#timeline section.year section ul li:not(:first-child) {
  margin-top: 0.5rem;
}





.record-lab-logo {
  list-style-type: none;
  padding: 0 0 0 75px;
  margin: -1.35rem 0 1em;
  /*max-width: 32rem;*/
  font-size: 1em;
    display: flex;
}

.record-lab-logo img {
 padding-right: 0.5rem;
    margin-top: -15px;
    width: 6%;
}

.record-lab-logo h3 {
    margin-top: -15px;
}


@media (min-width: 62em) {
  .record-lab-logo {
    font-size: 1.1em;
    padding: 0 0 0 81px;
  }
}
.record-lab-logo:last-child {
  margin-bottom: 0;
}
.record-lab-logo:first-of-type:after {
  
    content: "";
    width: 12px;
    height: 12px;
    background: #a6a6a6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 55px;
    top: 5px;
    z-index: 2;
}


